<div class="container">
  <h1><%= @post.title %></h1>
  <h4>Category - <%= @post.category.name %></h4>
  <% @post.attributes.each do |field, value| %>
    <p>
      <b><%= field %></b>: <%= value %>
    </p>
  <% end %>
  <fieldset>
    <legend>Edit Post</legend>
    <form name="post_update" action="/post/update" method="post">
      <table>
        <tr>
          <td><label for="category">Category: </label></td>
          <td>
              <select name="category">
                <% Category.all.each do |cat| %>
                  <option value="<%= cat.name %>"><%= cat.name %></option>
                <% end %>
              </select>
          </td>
        </tr>
        <tr>
          <td><label for="title">Title: </label></td>
          <td><input type="text" name="title" /></td>
        </tr>
        <tr>
          <td><label for="description">Description: </label></td>
          <td><textarea rows="4" cols="45" name="description" />
            </textarea></td>
        </tr>
        <tr>
          <td><label for="price">Price: </label></td>
          <td><input type="text" name="price"></td>
        </tr>
        <tr>
              <span class="hide"><input type="text" value="<%= @post.id %>" name="post_id"></span>
          <td><input type="submit" value="Update" /></td>
        </tr>
      </table>
    </form>
  </fieldset>
  <h5 class="center">Edit URL: /posts/edit?secret_key=<%= @post.secret_key %></h5>
  <h6 class="center"><a href="/">Go Home</a></h6>
</div>